.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 60%;
}

footer {
  margin-top: 2.6%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family:'Indie Flower', cursive;
  color: black;
  font-size: 20px;
  background: #4ECCA3;
  padding: 10px 20px 10px 20px;
  margin-top: 25px;
  text-decoration: none;
}

.btn:hover {
  background: #9c060c;
  color: #fff;
  text-decoration: none;
}